# Renombrar a .env en /opt/anyjobs/production

ANYJOBS_BACK_IMAGE=ghcr.io/org/anyjobs-back:main
ANYJOBS_FRONT_IMAGE=ghcr.io/org/anyjobs-front:main

POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambiar-en-produccion
POSTGRES_DB=anyjobs

ANYJOBS_DB_PORT=5433
ANYJOBS_BACK_PORT=3001
ANYJOBS_FRONT_PORT=4201
LOG_LEVEL=warn
